[submodule "timing"]
	path = timing
	url = https://github.com/gmvang/timing.git
[submodule "lightbox"]
	path = lightbox
	url = https://github.com/gmvang/lightbox.git
[submodule "slider"]
	path = slider
	url = https://github.com/gmvang/slider.git
[submodule "jqueryFAQ"]
	path = jqueryFAQ
	url = https://github.com/gmvang/jqueryFAQ.git
